---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>ATC Dashboard | Air Traffic Control</title>

		<link rel="stylesheet" href="/styles/player.css"/>

		<meta name="description" content="A simple dashboard for air traffic control enthusiasts.">
		<meta name="keywords" content="ATC, Air Traffic Control, Radar, FlightAware, METAR, Aviation, Flight, Aircraft, Live ATC">
		<meta name="author" content="Jean Paul Fernandez">
		<meta name="robots" content="index, follow">

		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#111827" media="(prefers-color-scheme: dark)">

		<meta name="twitter:site" content="@jpxoi">
		<meta name="twitter:creator" content="@jpxoi">
		<meta name="twitter:title" content="ATC Dashboard | Air Traffic Control">
		<meta name="twitter:description" content="A simple dashboard for air traffic control enthusiasts.">
		
		<meta property="og:title" content="ATC Dashboard | Air Traffic Control">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://atc.jpxoi.com">
		<meta property="og:description" content="A simple dashboard for air traffic control enthusiasts.">
		<meta property="og:site_name" content="ATC Dashboard">
		<meta property="og:locale" content="en_US">

		<script fetchpriority="high" src="/js/metar.js"></script>
	</head>
	<body class="dark:bg-gray-900 dark:text-white">
		<div class="mx-auto lg:mx-2 p-4 mt-4 dark:bg-gray-900">
			<main>
				<div class="grid grid-cols-1 md:grid-cols-[3fr,1fr] gap-0 md:gap-8">
					<div class="flex flex-col">
						<div id="surface" class="flex flex-col space-y-4">
							<h3 class="text-2xl font-bold">📡 Radar</h3>
							<div class="flex flex-col space-y-4 bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
								<p>Select an airport to view the surface traffic.</p>
								<div class="flex flex-col space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0 md:flex-col md:space-x-0 md:space-y-4 lg:flex-row lg:space-x-4 lg:space-y-0">
									<div class="flex flex-row space-x-4">
										<button id="SPRU-selector" class="bg-white dark:bg-gray-700 text-blue-500 py-2 px-4 rounded-lg hover:bg-blue-700 hover:text-white">TRU / SPRU</button>
										<button id="SPJC-selector" class="bg-white dark:bg-gray-700 text-blue-500 py-2 px-4 rounded-lg hover:bg-blue-700 hover:text-white">LIM / SPJC</button>
									</div>
									<a href="https://www.flightradar24.com/-10.24,-76.72/7" target="_blank" rel="noreferrer" class="flex flex-row justify-center max-w-fit bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700 hover:text-white">Peruvian Airspace Radar ↗</a>
								</div>
							</div>
							<div id="surface-visualizer" class="hidden md:flex flex-col space-y-2 bg-gray-100 dark:bg-gray-800 rounded-lg aspect-[9/16] md:aspect-square xl:aspect-video justify-center items-center">
								<p class="text-lg text-blue-900 dark:text-blue-200">Select an airport to view the surface traffic.</p>
								<p class="text-sm text-gray-600 dark:text-gray-400">Powered by FlightAware</p>
							</div>
						</div>
					</div>
					

					<div id="metar" class="flex flex-col space-y-4">
						<div id="atc" class="mt-8 md:mt-0 flex flex-col space-y-4">
							<h3 class="text-2xl font-bold">🗼 Live ATC</h3>

							<div id="sjpc_atc" class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg space-y-4">
								<h4 class="text-xl font-bold">LIM / SPJC Air Traffic Control</h4>
								<div class="grid grid-cols-1 gap-4">
									<div id="spjc_app" class="flex flex-col space-y-4">
										<div class="flex flex-row space-x-4 items-center justify-between">
											<h5 class="text-lg font-bold">Approach <span class="text-sm text-gray-700 dark:text-gray-300">(119.700)</span></h5>
											<span id="spjc_app_live_indicator" class="text-sm bg-gray-500 dark:bg-gray-700 text-white px-2 py-1 rounded-lg">Offline</span>
										</div>
										<audio controls class="w-full" id="spjc_app_audio" preload="auto">
											<source src="https://d.liveatc.net/spjc1_gnd" type="audio/mpeg">
											<p class="text-red-500">Your browser does not support the audio element.</p>
										</audio>
									</div>
									
									<div id="spjc_twr" class="flex flex-col space-y-4">
										<div class="flex flex-row space-x-4 items-center justify-between">
											<h5 class="text-lg font-bold">Tower <span class="text-sm text-gray-700 dark:text-gray-300">(118.100)</span></h5>
											<span id="spjc_twr_live_indicator" class="text-sm bg-gray-500 dark:bg-gray-700 text-white px-2 py-1 rounded-lg">Offline</span>
										</div>
										<audio controls class="w-full" id="spjc_twr_audio" preload="auto">
											<source src="https://d.liveatc.net/spjc1_twr" type="audio/mpeg">
											<p class="text-red-500">Your browser does not support the audio element.</p>
										</audio>
									</div>

									<div id="spjc_gnd" class="flex flex-col space-y-4">
										<div class="flex flex-row space-x-4 items-center justify-between">
											<h5 class="text-lg font-bold">Ground <span class="text-sm text-gray-700 dark:text-gray-300">(121.900)</span></h5>
											<span id="spjc_gnd_live_indicator" class="text-sm bg-gray-500 dark:bg-gray-700 text-white px-2 py-1 rounded-lg">Offline</span>
										</div>
										<audio controls class="w-full" id="spjc_gnd_audio" preload="auto">
											<source src="https://d.liveatc.net/spjc1_gnd" type="audio/mpeg">
											<p class="text-red-500">Your browser does not support the audio element.</p>
										</audio>
									</div>
								</div>
							</div>
						</div>

						<h3 class="text-2xl font-bold">🌥️ METAR</h3>
						<div id="metar-SPRU" class="flex flex-col space-y-4 bg-gray-100 dark:bg-gray-800 p-4 rounded-lg justify-center items-center">
							<a class="w-[300px] sm:w-[500px] md:w-[370px] h-[270px]" href="https://metar-taf.com/SPRU" id="metartaf-myjZ3sai" style="font-size:18px; font-weight:500; color:#000; display:block">METAR Capitan FAP Carlos Martinez De Pinillos International Airport</a>

							<a href="https://metar-taf.com/livestream/SPRU?zoom=85" target="_blank" rel="noreferrer" class="text-blue-500 hover:text-blue-700">Livestream METAR for TRU / SPRU</a>
						</div>

						<div id="metar-SPJC" class="flex flex-col space-y-4 bg-gray-100 dark:bg-gray-800 p-4 rounded-lg justify-center items-center hidden">
							<a class="w-[300px] sm:w-[500px] md:w-[370px] h-[270px]" href="https://metar-taf.com/SPJC" id="metartaf-biLXE9nn" style="font-size:18px; font-weight:500; color:#000">METAR Jorge Chávez International Airport</a>
							<a href="https://metar-taf.com/livestream/SPJC?zoom=85" target="_blank" rel="noreferrer" class="text-blue-500 hover:text-blue-700">Livestream METAR for LIM / SPJC</a>
						</div>
					</div>
					
				</div>
			</main>
		</div>

		<script src="../helpers/app.js"></script>
	</body>
</html>