---
import MetarLayout from "../layouts/MetarLayout.astro";
---

<MetarLayout>
  <main class="mx-auto lg:mx-2 p-4 mt-4 dark:bg-gray-900">
    <div class="grid grid-cols-1">
      <a href="/" class="text-blue-500 hover:text-blue-700 mb-2"
        >← Back to Dashboard</a
      >
      <h3 class="text-2xl font-bold mb-4">🌥️ METAR</h3>
      <a
        href="https://metar-taf.com/metar/SPRU"
        id="metartaf-fEspcrED"
        style="font-size:18px; font-weight:500; color:#000; width:300px; height:435px; display:block"
        >METAR Capitan FAP Carlos Martinez De Pinillos International Airport</a
      >
      <script
        async
        defer
        crossorigin="anonymous"
        src="https://metar-taf.com/embed-js/SPRU?qnh=hPa&rh=rh&target=fEspcrED"
      ></script>
      <div
        id="metar"
        class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0"
      >
        <div
          id="metar-SPRU"
          class="flex flex-col space-y-4 bg-gray-100 dark:bg-gray-800 p-4 rounded-lg justify-center items-center"
        >
          <a
            class="w-[300px] sm:w-[500px] md:w-[370px] h-[270px]"
            href="https://metar-taf.com/SPRU"
            id="metartaf-myjZ3sai"
            style="font-size:18px; font-weight:500; color:#000; display:block"
            >METAR Capitan FAP Carlos Martinez De Pinillos International Airport</a
          >

          <a
            href="https://metar-taf.com/livestream/SPRU?zoom=85"
            target="_blank"
            rel="noreferrer"
            class="text-blue-500 hover:text-blue-700"
            >Livestream METAR for TRU / SPRU</a
          >
        </div>

        <div
          id="metar-SPJC"
          class="flex flex-col space-y-4 bg-gray-100 dark:bg-gray-800 p-4 rounded-lg justify-center items-center"
        >
          <a
            class="w-[300px] sm:w-[500px] md:w-[370px] h-[270px]"
            href="https://metar-taf.com/SPJC"
            id="metartaf-biLXE9nn"
            style="font-size:18px; font-weight:500; color:#000"
            >METAR Jorge Chávez International Airport</a
          >
          <a
            href="https://metar-taf.com/livestream/SPJC?zoom=85"
            target="_blank"
            rel="noreferrer"
            class="text-blue-500 hover:text-blue-700"
            >Livestream METAR for LIM / SPJC</a
          >
        </div>
      </div>
    </div>
  </main>
</MetarLayout>
